<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="contact.html"></a>
    </nav>
</header>
<main>
    <hi>an HTML project</hi>
    <p>paragraph words!</p>
    <p>My fav search engine is
        <a herf="https://duckduckgo.com">duckduckgo</a>.
    </p>
    <div>
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>